frontend/node_modules
server/node_modules
*.env
server/.env
server/requests.rest
node_modules
frontend/package-lock.json
server/package-lock.json
package-lock.json
server/blogvista-45c3a-firebase-adminsdk-ukew7-fbdcc90f2d.json
frontend/src/common/firebase.jsx
